.header{
    position: fixed;
    padding: 20px;
    margin-left:-10px;
    margin-top:-10px;
    background-color: white;
    width: 99%;
    margin-right: -10px;
    box-shadow: 0 2px 0 rgba(0,0,12,0) , 0 5px 0 rgba(0,0,16,0);
    font-size: larger;
}
.header .header-right{
    float: right;
    font-size: medium;
}
.header img{
    border-radius: 50%;
    margin-top: -10px;
}
.imagepfp{
    margin-top: -35px;
    margin-left: 1350;
    position: fixed;
}
.header a {
   
    color: black;
    cursor: pointer;
    
}
table{
    border-collapse: collapse;
    border-radius: 1px;
}